@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}

body {
  background-color: #eee;
  word-break: break-word;
  font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, Sans-serif;
}

header {
  z-index: 10;
  top: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  color: #2874f0;
  font-size: 1.6rem;
  display: inline;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.nav-right {
  min-width: 20%;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.feather-download {
  height: 16px;
  width: 16px;
  margin-top: -2px;
}

.custom-shadow {
  box-shadow: 0 0.1rem 0.35rem rgba(0, 0, 0, 0.25);
}
