html,
body {
  overflow: hidden;
  height: 100vh;
}

aside,
main {
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(204, 204, 204, 0.8);
}

::selection {
  background-color: rgba(255, 230, 0, 0.5);
}

.feather-chevron-left,
.feather-chevron-right {
  opacity: 0.7;
  margin-left: -0.4rem;
}

/* editor */
#text-editor {
  padding: 1rem 0.8rem;
  margin: 0;
  outline: none;
  margin-bottom: 3rem;
  min-height: 80%;
}

#text-editor > *:not(hr) {
  border: 2px solid transparent;
  border-radius: 0;
}

#text-editor > *:hover {
  cursor: text;
  border-color: rgba(0, 123, 255, 0.2);
}

/* toolbar */
.toolbar {
  transform: scale(0.9);
}

.toolbar .btn {
  transform: scale(0.9);
  padding: 0.6rem;
  color: #6c757d;
  border-radius: 50% !important;
}

.toolbar .btn:focus,
aside .btn:focus {
  box-shadow: none !important;
}

[data-action='img-alt'] {
  border-radius: 0 !important;
}

.dropdown-menu .btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-menu {
  top: 2.5rem;
  border: none;
  padding: 3px;
}

aside .dropdown-toggle::after {
  content: '';
  display: none;
}

/* js classes */
.--is--selected {
  outline: none;
  transition: all 0.17s;
  padding-bottom: 0.3rem;
  border-bottom-color: #007bff !important;
}

.--is--selected:hover {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

figure:hover {
  border-color: rgba(255, 193, 7, 0.3) !important;
}

figure.--is--selected {
  border-color: #ffc107 !important;
}

figure.--is--selected:hover {
  border-color: #ffc107 !important;
}

figcaption:focus {
  outline: none;
}

.dam {
  opacity: 0.5;
}
